@import "./../../global/global.scss";
.Button {
  display: flex;
  width: 100%;
  justify-content: center;
  button {
    background-color: $main-bg-theme-active;
    padding: 10px 20px;
    text-align: center;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: $font-family-filter;
    color: white;
  }
}
